<script>
    function toggleCart(){
        var cartWrapper = document.getElementById("cartWrapper");
        var cart = document.getElementById("shoppingCart");
        if(cartWrapper.style.display == "none"){
            cartWrapper.style.display = "flex";
            setTimeout(function(){
                cartWrapper.classList.add("shown");
                cart.classList.add("shown");
        }, 50);
        }else{
            cartWrapper.classList.remove("shown");
            cart.classList.remove("shown");
            setTimeout(function(){cartWrapper.style.display = "none";}, 500);
        }
    }

    function preventFallthrough(e){
        e.stopPropagation();
        console.log('e');
    }


</script>

<h1>M Story</h1>

<div class="search">
    <form action="/search" method="get" class="searchForm">

    <input class="searchBar" type="text" placeholder="Search" name="search">
    <button class="searchButton" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
    </button>
    </form>
    <button class="searchButton" onclick="toggleCart()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
          </svg>
    </button>
</div>

<div class="cartWrapper" id="cartWrapper" style="display: none;">

    <header>
        <h1>M Story</h1>

        <div class="search">
            <form action="/search" method="get" class="searchForm">

                <input class="searchBar" type="text" placeholder="Search" name="search">
                <button class="searchButton" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </form>
            <button class="searchButton" onclick="toggleCart()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                  </svg>
            </button>
        </div>
    </header>
    <div class="cart" id="shoppingCart">
        <h2 class="cartTitle">Shopping Cart</h2>
        <div class="cartItems" 
                hx-trigger="load"
                hx-get="/cart?id=1"
                hx-swap="beforeend">
            
            <div class="endLine"></div>
            
        </div>
        <button class="checkoutButton">Checkout</button>

    </div>
</div>
<script>
        //add click listener the cart
    document.getElementById("shoppingCart").addEventListener("click", preventFallthrough);
    //add click listener to the cart wrapper
    document.getElementById("cartWrapper").addEventListener("click", toggleCart);
</script>