html body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 3vh;
}

.navigation{
    border-bottom: black 1px solid;
    display: flex;
    flex-direction: row;
}

.navigationElement{
    padding: 1vw 2vw;
    font-size: 1.5em;
    font-weight: bold;

    border: black 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.navigationElement>a{
    text-decoration: none;
    color: black;
}

.navigationElement.selected{
    background-color: green;
    color: white;
}

.addingform{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: black 1px solid;
    border-radius: 10px;

    padding: 3vw;
    gap: 10px;
    font-size: x-large;
}

.addingform  input , .addingform select{
    width: 20vw;
    height: 2vw;
    border-radius: 5px;
    border: black 1px solid;
    padding: 0 1vw;
}

.addButton{
    width: 10vw;
    border-radius: 5px;
    border: black 1px solid;
    padding: 1vw;
    background-color: green;
    color: white;
    font-size: x-large;
}
#authorMany{
    height: 20vh;
}

.error{
    background-color: salmon;
    border: 1px solid red;

    border-radius: 10px;
    padding: 0.2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error>svg{
    color: red;
    margin-right: 1vw;
}