.chatWrapper {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background-color: white;
  border: 1px solid #333;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  width: 30em;
  max-height: 60vh;
  overflow: hidden;

    transition: width 0.5s, max-height 0.5s;
}
.chatWrapper.closed{
    width: 0;
    max-height: 0;
}

.chatHeader {
  background-color: lightcoral;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.chatHeader h2{
    flex: 1;
}
.chatHeader button{
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: xx-large;
}

.chatBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chatMessages {
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  max-height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatMessage {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 25em;
  word-wrap: break-word;
}

.chatMessageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.chatMessageAuthor {
  font-weight: bold;
}

.chatMessageDate {
  font-size: 0.8em;
  color: #666;
}

.chatInput {
  margin-top: 10px;
}

.chatForm {
  display: flex;
}

.chatForm input[type="text"] {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  height: 3em;
}

.chatForm button[type="submit"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: lightcoral;
  color: #fff;
  cursor: pointer;
}

.isBot {
  background-color: forestgreen;
  color: white;
  align-self: flex-end;
}

.isUser {
  background-color: #f5f5f5;
  align-self: flex-start;
}

.openChat{
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: lightcoral;
    color: #fff;
    padding: 10px;
    border-radius: 50%;

    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}
.openChat.closed{
    width: 0;
    height: 0;
    transform: rotate(180deg);
}

.openChat>svg{
    width: 75%;
    height: 75%;
}