<!DOCTYPE html>
<!-- book store -->
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <link rel="stylesheet" href="style.css">
        <div th:replace = 'fragments/head.html'></div>
    </head>
    
    <body>
        <div class="content">

            <header th:insert="fragments/header.html"></header>
            
            <div class="main">
                    <div sec:authorize="isAuthenticated()">
                        Authenticated as <span sec:authentication="name"></span>
                        <button type="button" th:onclick="'window.location.href=\'/logout\''">Logout</button>
                    </div>
                <a th:each="book : ${books}" class="bookTileLink" th:href="@{bookpage(id=${book.bookId})}">
                    <div class="bookTile">
                        <h2 class="bookTitle" th:text="${book.title}"></h2>
                        <img class="bookImg" th:attr="src=${book.imageUrl}" alt="book 1">
                        <ul class="bookAuthour">
                            <li th:each="authour : ${book.authors}" th:text="${authour}"></li>
                        </ul>
                        <p class="bookPrice">$<span th:text="${book.price}"></span></p>
                        <p class="bookDescription" th:text="${book.description}"></p>
                        <span class="bookIsbn" >isbn:<span th:text="${book.isbn}"></span></span>
                    </div>
                </a>
            </div>
        </div>
            
    </body>

</html>