<!DOCTYPE html>
<!-- book store -->
<html lang="en">
    <head>
        <link rel="stylesheet" href="bookpage.css">
        <div th:replace = 'fragments/head.html'></div>
    </head>
    
    <body>
        <div class="content">

            <header th:insert="fragments/header.html"></header>

            <div class="bookPage">

                
                <h2 class="bookTitle" th:text="${book.title}"></h2>
                <img class="bookImg" th:attr="src=${book.imageUrl}" alt="book 1">
                <div class="bookAuthour">
                    <h3 th:text="${#lists.size(book.authors) gt 1} ? 'Authors' : 'Author'" >Authour</h3>
                    
                    <ul>
                        <li th:each="authour : ${book.authors}" th:text="${authour}"></li>
                    </ul>
                </div>
                <!-- <p class="bookPrice">$<span th:text="${book.price}"></span></p>
                <p class="bookDescription" th:text="${book.description}"></p> -->
                <span class="bookIsbn" >isbn:<span th:text="${book.isbn}"></span></span>
                <div class="buy">
                    <p class="stockText instock">In Stock</p>
                    <button class="buyButton instock"
                        th:hx-get="@{/cart/addBook(id=${book.bookId})}"
                        hx-trigger="click"
                        hx-swap="beforeend"
                        hx-target=".cartItems"
                        hx-on:click="toggleCart()"
                        hx-delay="1000"
                    >Buy</button>
                </div>
            </div>
        </div>


            
    </body>
</html>