<!DOCTYPE html>
<html>
    <head>
        <head>
            <link rel="stylesheet" href="adding.css">
        
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Roboto&display=swap" rel="stylesheet">
            <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>

        </head>
        <script>
            function swapSelected(targetid){
                var navElements = document.getElementsByClassName("navigationElement");
                for (var i = 0; i < navElements.length; i++) {
                    navElements[i].classList.remove("selected");
                }
                document.getElementById(targetid).classList.add("selected");
            }
        </script>
    </head>
    <body>
        <div class="content" >

            <div class="navigation">
                <!-- authour -->
                <div class="navigationElement selected"
                    id="authourNav"
                    hx-get="/adding/author"
                    hx-target=".page"
                    hx-trigger="click"
                    hx-on:click="swapSelected('authourNav')"
                > Authour </div>
                <!-- illustrator -->
                <div class="navigationElement"
                    id="illustratorNav"
                    hx-get="/adding/illustrator"
                    hx-target=".page"
                    hx-trigger="click"
                    hx-on:click="swapSelected('illustratorNav')"
                > Illustrator </div>
                <!-- publisher -->
                <div class="navigationElement"
                    id="publisherNav"
                    hx-get="/adding/publisher"
                    hx-target=".page"
                    hx-trigger="click"
                    hx-on:click="swapSelected('publisherNav')"
                > Publisher </div>
                <!-- book -->
                <div class="navigationElement"
                    id="bookNav"
                    hx-get="/adding/book"
                    hx-target=".page"
                    hx-trigger="click"
                    hx-on:click="swapSelected('bookNav')"
                > Book </div>
            </div>
            <div class="page" hx-get="/adding/author" hx-trigger="load" hx-swap="outerHTML">

            </div>

        </div>
    </body>
</html>